* {

}

body {
  background-color: #dcdce6;
}

.app-navbar {
  height: 60px;
  background-color: #7878ad;
  border-radius: 5px;
  font-size: 20px;
  /*padding-left: 10px;*/
  padding-right: 50px;
}

ul {
  list-style-type: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

li {
  float: left;
  width: 33.33%;
}

.brand {
  text-align: left;
}

.menu {
  text-align: right;
}

.app-title {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}

.event {
  border: 1px solid #ec6785;
  border-radius: 5px;
  padding-left: 5%;
  padding-bottom: 5%;
  padding-top: 5%;
  text-align: left;
  font-size: 15px;
  line-height: 18px;
  background-color: #ecfbf8;
}

.event-name {
  font-weight: bold; 
  text-align: center;
  font-size: 20px;
}