.btn {
  margin-top: 20px;
  text-align: center;
  width: 100px;
  height: 36px;
  font-size: 20px;
  border-radius: 5px;

  border: 0;
  cursor: pointer;
}

.btn__cancel {
	@extend .btn;
	background-color: rgba(255, 0, 21, 0.65);
}

.btn__rsvp {
	@extend .btn;
	background-color: rgba(33, 150, 243, 0.9);
}

.btn__submit {
  @extend .btn;
  background-color: rgba(135, 232, 139, 0.8);
}