@import "grid";
@import "event";
@import "navigation";
@import "post";
@import "button";


* {
	box-sizing: border-box;
}

body {
  background-color: #dcdce6;
}

.app__title {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}

.content__home {
	background-image: url('../img/bg.jpg');
	background-size: cover;
}


