@import "grid";
@import "event";
@import "navigation";
@import "post";
@import "button";
@import "profile";


* {
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: #e8e8e8;
  padding-bottom: 50px;
}

.app__title {
	background-image: url('../img/header.jpg');
	background-repeat: no-repeat;
	height: 360px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  padding-top: 25px;
  color: #f8f0fb;
}

@media only screen and (min-width: 768px) {
	.app__title {
		background-size: cover;
		height: 500px;
	}
}

.login {
	background-image: url('../img/bg.jpg');
	background-size: cover;
}


